<!-- index.html -->
{% load static %} <!-- 현재 html 파일 내에서 static 디렉토리의 파일을 가져올 수 있도록 추가했습니다. -->
<!DOCTYPE html>
<html>
<head>
	<title>제목</title>
	<meta charset="utf-8"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://developers.kakao.com/sdk/js/kakao.story.min.js"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey="></script>
</head>
<body>
<h1>Hello, World!</h1>
<div>
	<p>첫 페이지 생성했습니다!</p>
	<!-- session_id는 로그인 시 가지고 있는 데이터입니다.-->
	{% if session_id %}
	<p>sessionID : <strong>{{ session_id }}</strong></p>
	{% endif %}
</div>
<!-- 로그인이 필요할 때 로그인 이미지를 보여줍니다.-->
{% if not session_id %}
<a href="/login"><img src="{% static 'mapbookmark/images/kakao_login_large_narrow.png' %}"/></a>
{% else %}
<a href="/logout">로그아웃 하기</a>
{% endif %}

{% if session_id %}
<div id="map" style="width:500px;height:400px;"></div>
<p id="result"></p>
<script type="text/javascript" src="{% static 'mapbookmark/scripts/bookmark.js' %}"></script>
{% endif %}

</body>
</html>